* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    background-color: rgb(245, 237, 227);
    height: 100vh;
}

header {
    display: flex;
    padding: 20px;
    margin: 20px;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(218, 195, 195);
   
}

footer {
    display: flex;
    padding: 20px;
    margin: 20px 0;
    background-color: rgb(218, 195, 195);
   
}

.footer {
    display: flex;
    margin-left: 20%;
    gap: 30px;
   
}

a {
    text-decoration: none;
}

.logo {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
    color: rgb(139, 81, 9);
    font-weight: bold;
}

ul {
    list-style: none;
    display: flex;
    gap: 30px;
}

li a {
    font-size:20px; 
    transition: 0.5;
}

li a:hover {
  color: brown;  
}

.btn {
    border-radius: 6px;
   font-size: 20px;
    padding: 5px 20px;
  /*background-color: rgb(238, 215, 187);*/
  color: #0c1013;
  transition: 0.5;
  border: 1px solid whitesmoke;
}

.btn:hover {
    cursor: pointer;
    background-color: rgb(221, 149, 149);

}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    color: lab(26.78% 3.27 12.78);
    line-height: 60px;
    
}

.container h1 {
    font-family: sans-serif;
    font-size: 50px;
    
}

.container h4 {
    font-family: sans-serif;
    font-size: 80px;
}

.images {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:10px;
    margin-bottom: 15px;
    gap: 20px;

}

.images img {
    border: none;
    border-radius: 50px;
    width: 300px;
    height: 350px;
    transition: 0.5;
    object-fit: cover;
    box-shadow: 15px 15px 30px rgb(230, 131, 131, 0.5);
}

.images img:hover {
    cursor: pointer;
    width: 350px;
    filter: contrast(1);
}
.aute h4 {
    margin-bottom: 30px;
}

 hr{
    width: 35%;
    margin-top: 2px;
}

.hr2 {
     width: 100%;
    margin-top: 2px;
}

.liens {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    transition: 0.5;
}

.liens a:hover {
    color: brown; 
}

.button input{
    border: 1px solid whitesmoke;
    border-radius: 6px;
    padding: 10px 30px;
    margin-left: 6px;
    margin-right: 6px;
}
.button button {
    border: 1px solid whitesmoke;
    border-radius: 6px;
    padding: 10px;
    margin-left: 6px;
    margin-right: 6px;
    transition: 0.5;
}

.button button:hover {
    cursor: pointer;
    background-color: rgb(221, 149, 149);
}

.newsletters h5 {
    margin-bottom: 5%;
    line-height: 20px;
}

.end {
    display: flex;
    flex-direction: row;
   height: 50%;
    gap: 20px;
}

